body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #110F1A;
}

.top_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #69225b;
    overflow: hidden;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.page_name {
    text-align: left;
    font-weight: lighter;
    color: white;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 1.5vh;
    display: block;
    text-align: center;
}

.navbar .active {
    background-color: #110F1A;
    font-weight: bold;
    height: 100%;
}

.navbar a:hover {
    background-color: #110F1A;
}

.navbar li {
    float: left;
}

.header_container {
    text-align: center;
    border: 1px solid white;
    padding: 5rem;

}

.main_title {
    color: white;
    margin: 2vh;
}

.subtitle {
    margin: 0;
    font-weight: lighter;
    color: #8BE8CB;
}